body {
  margin: 0;
  background-color: #dcdedd;
}
html,
body,
#map {
  height: 100%;
  background-color: #dcdedd;
}

#critters {
  display: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
